/*------------------Encabezado*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  body {
    background-image: url('../img/BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    min-width: 390px;
  }

.containerEncabezado{
    background-color:#50B2F1;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;;
    /* opacity:75%; */
    position: relative;
}
.headline{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color:#1D3892;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding-top: 25px;
    opacity: 100%;
}
.headlineLine{
    width: 150px;
    height: 10px;
    background-color: #264B63;
    border-radius: 10px;
    margin: 27px auto;
}
.headlineText{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color:#1D3892;
    /* margin-top: 20px; */
    text-align: center;
    padding-bottom: 25px;
}
.publicarNoticiaForm{
    display: flex;
    background-color: #CAEAFF;
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    background: rgba(151, 209, 234, 0.168); 
    backdrop-filter: blur(5px); 
}
.encabezadoForm{
    background-color: #CAEAFF;
    width: 100%;
    text-align: center;
    font-size: 20px;
    height: 70px;
    padding: 10px 0px;
    color:#1D3892;
    border-radius: 10px;
}
.headlineForm{
    padding:10px;
    margin: 0 15%;
    border-radius: 10px;
    font-weight: 700;
}
.formularioPequenno{
    width: 100%;
    margin-top: 20px;
}
fieldset{
    padding: 0px 20px;
    border: 1px solid transparent;
}
legend{
    text-align: center;
    font-weight: 700;
}
.fieldsetPequenno{
    font-size: 14px;
    margin-bottom: 20px;
}
.formularioGrande{
    font-size: 14px;
    width: 100%;
    font-weight: 700;
}
.formularioPequenno input{
    height: 60px;
    width: 100%;
    border-radius: 10px;
    box-shadow: #0000005b 3px 3px;
    text-align: center;
    background-color: #CAEAFF;
    font-weight: 500;
}
.contenidoNoticia{
    height: 476px;
    width: 100%;
    position: absolute;
}
#contadorNoticia, #date{
    /* display: none; */
    text-align: left;
    padding-left: 20px;
}
.formularioGrande textarea{
    width: 100%;
    resize: none;
    height: 250px;
    border-radius: 10px;
    box-shadow: #0000005b 3px 3px;
    outline: none;
    text-align: center;
    background-color: #CAEAFF;
    font-weight: 500;
}
.botonesAdmin{
    display: flex;
    gap: 20px;
    justify-content: end;
    padding: 10px 10px 10px 45%;
}
.cancelar{
    width: 100%;
    height: 50px;
    background-color: #D1D1D2;
    border-radius: 10px;
    box-shadow: 4px 4px #0000005b;
    border-color: #50B2F1;
    font-size: 25px;
    color:white;
    font-weight: 700;
}
.cancelar:hover{
    background-color: #cacacd;
    color:rgba(0, 0, 0, 0.801);
    transition: 0.3s;
    border-color: #50B2F1;
    border-style: solid;
    border-width: 5px;
    color: #50B2F1;
}
.publicar{
    width:100%;
    height: 50px;
    background-color: #F58634;
    border-radius: 10px;
    box-shadow: 4px 4px #0000005b;
    font-size: 25px;
    color:white;
    font-weight: 700;
}
.publicar:hover{
    background-color:#e86b0f;
    transition: 0.3s;
    color: black;
}
.error-message{
    color: red;
    font-size: 20px;
    margin-top: 5px;
    display: none;
}

@media (max-width:1000px){
    *{
        position: relative;
    }
/*------------------Encabezado*/
    .containerEncabezado{
        height: 150px;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .headline{
        font-size: 25px;
        margin: 0 auto;
        padding: 15px 0;
    }
    .headlineLine{
        height: 5px;
        margin: 0 auto;
        padding: 6px 0;
    }
    .headlineText{
        font-size: 18px;
        margin-bottom: 5px;
        margin: 0 auto;
        padding: 15px 0;
    }
    .botonesAdmin{
        margin:20px auto;
        padding: 10px 10px;
    }
    .publicar, .cancelar{
        font-size: 20px;
        padding: 0px 10px;
    }
    .encabezadoForm{
        font-size: 15px;
        padding: 10px 0;
        height: 90px;
    }
}